@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

body{
    
    width: 100%;
    height: 100%;
    background-color:  hsl(0, 0%, 95%);
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px auto;
}

#globalContainer {
    position: absolute;
    left: 0;
    right: 0;
    background-color: hsl(0, 0%, 95%);
    margin: 0px auto;
    width: 317px;
    height: 490px;
}

.headerContainer{
    display: flex;
    align-items: center;
    height: 50px;
}

.headerText{
    background-color:hsl(0, 0%, 95%) ;
    margin-left: 8px;
}

.display{
    flex-direction: column;
    height: 120px;

}

.ghostDisplay{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 0;
    font-size: 18px;
    color: hsl(0, 0%, 60%);
    padding-right: 10px;
    height: 40px;
}
.display-numbers{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 95px;
    font-size: 32px;
    font-weight: bold;
    padding-right: 10px;
}

.secondaryContainer{
    height: 45px;
}

.buttonsContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 315px;
    height: 320px;
    padding-left: 5px;
    margin: 0 auto;
}

button {
    width: 75px;
    height: 50px;
    font-size: 20px;
    font-weight: 200;
    border: 0px solid;
}
.imgSize1{
    position: relative;
    top: 20%;
    margin-top: -25px;
    width: 16px;
    height: 18px;
    pointer-events: none;
    
}
.imgSize2{
    position: relative;
    top: 25%;
    margin-top: -25px;
    width: 19px;
    height: 19px;
    pointer-events: none;
    
}
.imgSize3{
    position: relative;
    top: 30%;
    margin-top: -25px;
    width: 30px;
    height: 30px;
    pointer-events: none;
    
}
.imgSize4{
    position: relative;
    top: 18%;
    margin-top: -25px;
    width: 15px;
    height: 15px; 
    pointer-events: none;
}
.imgSize5{
    position: relative;
    top: 25%;
    margin-top: -25px;
    width: 5px;
    height: 5px; 
    pointer-events: none;
}

.imgSize6{
    position: relative;
    top: 20%;
    margin-top: -25px;
    width: 15px;
    height: 15px; 
    pointer-events: none;
    
}

[data-function = "percentage"]{
    font-size: 0px;
}
[data-function = "changeSign"]{
    font-size: 0px;
}

[data-erase = "backSpace"]{
    font-size: 0px;
}

[data-function = "divide"]{
    font-size: 0px;
}

.decimal {
    font-size: 0px;
}
.equal {
    font-size: 0px;
}

@media (min-width:321px){
    html{height:100%;}
    body{
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(34,193,195,1) 5%, rgba(92,191,150,1) 37%, rgba(207,150,75,0.8267507686668417) 69%, rgba(253,187,45,1) 100%); 
        font-family: 'Source Sans Pro', sans-serif;
        margin: 0px auto;
    }
    
    #globalContainer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 25%;
        margin: 0px auto;
        background-color: hsl(0, 0%, 95%);
        width: 320px;
        height: 495px;
        border: 3px solid
    }
}