@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 320px;
    height: 535px;
    background-color: hsl(0, 0%, 95%);
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}

#globalContainer {
    background-color: hsl(0, 0%, 95%);
    width: 320px;
    height: 535px;

}

.headerContainer{
    display: flex;
    align-items: center;
    height: 50px;
}

.headerText{
    background-color:hsl(0, 0%, 95%) ;
    margin-left: 8px;
    /* border: 1.5px solid hsl(0, 0%, 65%); */
}

.display{
    
    flex-direction: column;
    height: 120px;
}

.ghostDisplay{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.display-numbers{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    font-size: 32px;
    font-weight: bold;
    padding-right: 10px;
}

.secondaryContainer{
    height: 45px;
}

.buttonsContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 315px;
    height: 320px;
    padding-left: 5px;
    margin: 0 auto;
}

button {
    width: 75px;
    height: 50px;
    font-size: 20px;
    font-weight: 200;
    border: 0px solid;
}
.imgSize1{
    position: relative;
    top: 20%;
    margin-top: -25px;
    width: 16px;
    height: 18px;
    pointer-events: none;
    
}
.imgSize2{
    position: relative;
    top: 25%;
    margin-top: -25px;
    width: 19px;
    height: 19px;
    pointer-events: none;
    
}
.imgSize3{
    position: relative;
    top: 30%;
    margin-top: -25px;
    width: 30px;
    height: 30px;
    pointer-events: none;
    
}
.imgSize4{
    position: relative;
    top: 18%;
    margin-top: -25px;
    width: 15px;
    height: 15px; 
    pointer-events: none;
}
.imgSize5{
    position: relative;
    top: 25%;
    margin-top: -25px;
    width: 5px;
    height: 5px; 
    pointer-events: none;
}

.imgSize6{
    position: relative;
    top: 20%;
    margin-top: -25px;
    width: 15px;
    height: 15px; 
    pointer-events: none;
    
}

[data-function = "percentage"]{
    font-size: 0px;
}
[data-function = "changeSign"]{
    font-size: 0px;
}

[data-erase = "backSpace"]{
    font-size: 0px;
}

[data-function = "divide"]{
    font-size: 0px;
}

.decimal {
    font-size: 0px;
}
.equal {
    font-size: 0px;
}